In [1]:
#RBooth
#'AZPHX20190219DATA
# Unit 4 | Assignment - Pandas, Pandas, Pandas
#******************************************

#As Data Analyst for gaming company Pymoli, a free-to-play game, my task is to
#is find insights from purchasing data to help drive sales of optional items which enhance 
#our player's experience.
#I am tasked to create a report that breaks down the game's purchasing data into meaningful
#insights, including: a player count, purchasing analysis ##item, average purchase price,
#volumn, and revenue##, breakdowns of demographics, identification of our top five customers
# ##spending##, top 5 most popular products ##count##, and the top 5 most profitable items 
# ##gross##.

#******************************************

In [2]:
## The data is has been provided in a CSV file:"purchase_data.csv". It looks like this:
#**************************************************************************
##Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
##0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53##
#**************************************************************************

In [7]:
import pandas as pd
import numpy as np
from IPython.display import display
import statistics

In [8]:
file_to_load = "purchase_data.csv"
pymoli_games_df = pd.read_csv(file_to_load)

In [6]:
#structure of df = pd.DataFrame(pymoli_games_df)
#df.info()
#<class 'pandas.core.frame.DataFrame'>
#RangeIndex: 780 entries, 0 to 779
#Data columns (total 7 columns):
#Purchase ID    780 non-null int64
#SN             780 non-null object
#Age            780 non-null int64
#Gender         780 non-null object
#Item ID        780 non-null int64
#Item Name      780 non-null object
#Price          780 non-null float64
#dtypes: float64(1), int64(3), object(3)
#memory usage: 42.7+ KB

In [7]:
#Calculations for player count
unique_customers = pymoli_games_df['SN'].nunique(dropna=True)
# Create a DataFrame for unique players
frame_df = pd.DataFrame ({
    'Total Players': [''],
    'Total Players': [unique_customers],
})
frame_df

   Total Players
0            576

In [19]:
#for number of purchases number_of_purchases = pymoli_games_df['Item Name'].value_counts()
number_of_purchases = pymoli_games_df['SN'].count()

# The Price and items columns are the wrong data type. It should be numeric
total_revenue = pymoli_games_df["Price"].sum()

#for average price: average_price = pymoli_games_df[:,"Price"].mean()
# Grouping by one factor
pymol_ave_price = total_revenue / number_of_purchases

#for unique items: = pymoli_games_df['Item ID'].nunique() need to fix this column because
#first record is zero.Item ID -780 non-null int64
#unique_items = pymoli_games_df['Item Name'].nunique

unique_items = pymoli_games_df["Item ID"].nunique()

183

In [8]:
# Trick!!
#df['unit'] = 1
#dg = df.groupby('id')
#df[dg['unit'].cumsum()==1] # use group bools in the original frame
#may be useful later....clean up gender np.where(condition1, x1, 
        #np.where(condition2, x2, 
            #np.where(condition3, x3, ...)))
#usa_ufo_df = clean_ufo_df.loc[clean_ufo_df["country"] == "us", :]

In [20]:
# Create a DataFrame for Purchasing Analysis
purchasing_analysis_df = pd.DataFrame ({
    "Purchasing Analysis (Total)": [""],
    "Unique Items": [unique_items],
    "Average Price": [pymol_ave_price],
    "Number of Purchases": [number_of_purchases],
    "Total Revenue": [total_revenue],  
})
##Format as dollars and cents
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)
purchasing_analysis_df

,Purchasing Analysis (Total),Unique Items,Average Price,Number of Purchases,Total Revenue
0,,183,$3.05,780,$2379.77

In [10]:
#Gender Demographics
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed
unique_customers = pymoli_games_df['SN'].nunique(dropna=True)
# Gender Countgender_count_df = pymoli_games_df.groupby("Gender")["SN"].nunique()

# Gender Percentage
gender_percentage = (gender_count_df/unique_customers) * 100
gender = gender_percentage.round(2).map("{:.2f}%".format)

# Gender demographics summary DataFrame
gender_demographics_df = pd.DataFrame({"Gender Count": gender_count_df,"Gender Percentage": gender})
gender_demographics_df

                       Gender Count Gender Percentage
Gender
Female                           81            14.06%
Male                            484            84.03%
Other / Non-Disclosed            11             1.91%

In [21]:
#Purchasing Analysis (Gender)
# Group by Gender
gender_purch_anal_df = pymoli_games_df.groupby(["Gender"])

# Assign Variables
cust_count = grouped_df["SN"].count()
price_price = grouped_df["Price"].mean()
total_value = grouped_df["Price"].sum()

# Delete all duplicates
dups = pymoli_games_df.drop_duplicates(subset='SN', keep="first")
grouped_dup = dups.groupby(["Gender"])

# Find normalized data
per_cust_ave_purc = (grouped_df["Price"].sum() / grouped_dup["SN"].count())

# Purchase analysis DataFrame
gender_purch_ana = pd.DataFrame({"Purchase Count": cust_count,
                              "Average Purchase Price": price_price,
                              "Total Purchase Value": total_value,
                              "Average Total Purchase per Person": per_cust_ave_purc})

# Purchasing Analysis(Gender) summary DataFrame
gender_purch_ana["Average Purchase Price"] = gender_purch_ana["Average Purchase Price"].map("${:.2f}".format)
gender_purch_ana["Total Purchase Value"] = gender_purch_ana["Total Purchase Value"].map("${:.2f}".format)
gender_purch_ana["Average Total Purchase per Person"] = gender_purch_ana["Average Total Purchase per Person"].map("${:.2f}".format)
gender_purch_ana = gender_purch_ana[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Total Purchase per Person"]]
gender_purch_ana

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [55]:
# Create bins in which to place values based upon player ages
# df(describe()) shows youngest and oldest players as 7 and 45 with the average age to be 23.

#Total Count	Percentage of Players
unique_customers = pymoli_games_df['SN'].nunique
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]

# Create labels for these bins
age_bins_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-30,", "40+"]

bins_df = pymoli_games_df.copy()
bins_df["Age Groups"] = pd.cut(bins_df["Age"], age_bins, labels=age_bins_labels)
group_bins = bins_df.groupby(["Age Groups"])

# Data manipulation
binning = group_bins["SN"].count()
counting = pymoli_games_df["SN"].count()


price_price = grouped_df["Price"].mean()
total_value = grouped_df["Price"].sum()
percentage = (binning / counting) * 100
# Create new DataFrame
perc_age = pd.DataFrame({"Total Count": binning,
                         "Percentage of Players": percentage})

# Add formatting to Percentage of Players
perc_age["Percentage of Players"] = perc_age["Percentage of Players"].map("{:.2f}%".format)

perc_age

            Total Count Percentage of Players
Age Groups
<10                  23                 2.95%
10-14                28                 3.59%
15-19               136                17.44%
20-24               365                46.79%
25-29               101                12.95%
30-34                73                 9.36%
35-30,               41                 5.26%
40+                  13                 1.67%

In [64]:
#Purchasing Analysis (Age)
#Bin the purchase_data data frame by age
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. 
#in the table below
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]

# Create labels for these bins
age_bins_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-30,", "40+"]

bin_df = pymoli_games_df.copy()
bin_df["Age Groups"] = pd.cut(bin_df["Age"], age_bins, labels=age_bins_labels)
binColumn = pd.cut(bin_df["Age"],age_bins, labels=age_bins_labels
group_bins = bins_df.groupby(["Age Groups"])

#Variables assignation
bin_Pur_Count = group_bins["Age"].count()
bin_Pur_Aver = groupe_bins["Price"].mean()
bin_Pur_Total = groupe_bins["Price"].sum()

binningdup = pymoli_games_df.drop_duplicates(subset='SN', keep="first")
binningdup["Age Groups"] = pd.cut(binningdup["Age"], age_bins, labels=age_bins_labels)
binningdup = binningdup.groupby(["Age Groups"])


bin_Aver_Tot_Cust = (grouped_bin["Price"].sum)() / binningdup["SN"].count()

SyntaxError: invalid syntax (<ipython-input-64-c9b0ed1544e6>, line 17)

In [59]:
age_purchasing_analysis_df = pd.DataFrame ({"Purchasing Analysis (Age)": [""],
                                            "Purchase Count": [bin_Pur_Count],
                                            "Average Purchase Price": [bin_Pur_Aver],
                                            "Total Purchase Value": [bin_Pur_Total],
                                            "Average Total Purchase per Person": [bin_Aver_Tot_Cust]
                                            })

age_purchasing_analysis_df

,Purchasing Analysis (Age),Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,,Age Groups <10 23 10-14 28 15-19 ...,Age Groups <10 3.353478 10-14 2.9564...,Age Groups <10 77.13 10-14 82.78...,Age Groups <10 4.537059 10-14 3.7627...

In [51]:
#

In [17]:
#

In [1]:
#pd.cut(pymoli_games_df["Age"], bins, labels=group_labels).head()

In [2]:
#pd.cut(pymoli_games_df["Age"], bins, labels=group_labels)
#pymoli_games_df.head()

In [3]:
# Create a GroupBy object based upon "View Group"
#pymoli_age_group = pymoli_games_df.groupby("Age Demographics")

# Find how many rows fall into each bin
#print(pymoli_age_group["Age"].count())

# Get the average of each column within the GroupBy object
#pymoli_age_group[["Age"]].mean()
#pymol_ave_price_agebinned = total_revenue / number_of_purchases
#pymol_ave_price
#state_duration = grouped_usa_df["duration (seconds)"].sum()
#state_duration.head()
#def calc_bin_percentage(group_df):
   # bins_count = pymoli_games_df.groupby("bins")["pymoli_age_group"].sum()
   # return 100 * bins_count / group_df.sum()

#pymoli_games_df.groupby("Age").apply(calc_bin_percentage).unstack().fillna(0)
#	Purchase Count	Average Purchase Price	Total Purchase Value	Avg Total Purchase per Person

In [117]:
#grouped = df.groupby('Team')
#print grouped['Points'].agg([np.sum, np.mean, np.std])
#aggregate and Max.

In [33]:

#pymoli_age_group = pymoli_games_df["SN"].unique ["Age"]